[submodule "ant-design"]
	path = ant-design
	url = git@github.com:ant-design/ant-design.git
[submodule "pro-components"]
	path = pro-components
	url = git@github.com:ant-design/pro-components.git
[submodule "umi"]
	path = umi
	url = git@github.com:umijs/umi.git
[submodule "ant-design-pro-site"]
	path = ant-design-pro-site
	url = git@github.com:ant-design/ant-design-pro-site.git
